/* FONTS */
@font-face {
   font-family: "grego";
   src: url(../fonts/grec.otf);
}

@font-face {
   font-family: "pompei";
   src: url(../fonts/PompejiPetit.otf);
}

@font-face {
   font-family: "romanus";
   src: url(../fonts/ROMANUS.otf);
}

:root {
   --font-grego: "grego";
   --font-pompei: "pompei";
   --font-romanus: "romanus";
}

/* RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-align: center;
}

/* HEADER */
.header {
   background-color: black;
   color: white;
   font-family: var(--font-romanus);
   font-size: 1.1em;
   font-weight: bold;
   text-align: center;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.648);
   padding: 1.1em;
   box-shadow: 10px 10px 10px black;
}

.header>abbr {
   text-decoration: none;
}

.header>abbr:hover {
   text-decoration: underline;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.648);
}

/* SECTION */
section {
   font: bold 1.5em var(--font-romanus);
   padding: 10% 0;
   margin: 10vh;
   color: rgb(0, 0, 0);
   text-shadow: 0px 0px 10px rgb(255, 217, 217);
   box-shadow: 10px 10px 10px black;
}

section>abbr {
   text-decoration: none;
}

section>abbr:hover {
   text-decoration: underline;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.648);
}

/* LINKS */
a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.648);
}

/* PENSADORES */
#pensadores,
#pensadoresimg {
   color: black;
   text-decoration: none;
   margin: 15px;
   padding: 1px 5px 1px 5px;
   border-radius: 1px 10px 1px 10px;
}

#pensadores:hover,
#pensadoresimg:hover {
   background-image: linear-gradient(to top, gray, white, white);
}

#pensadoresimg:hover {
   background-image: linear-gradient(to top, gray, black);
}

/* IMG */
#img {
   background-color: black;
   margin: auto;
   padding: 70px;
}

#back1 {
   background-image: url(https://th.bing.com/th/id/OIG.pQP5sQ_rLphSmyTj0WFn?pid=ImgGn);
   background-position: bottom;
   box-shadow: 10px 10px 10px black;
   background-attachment: fixed;
   padding: auto;
}

#back2 {
   background-image: url(https://th.bing.com/th/id/OIG.pQP5sQ_rLphSmyTj0WFn?pid=ImgGn);
   background-position: top;
   padding: autox;
   box-shadow: 10px 10px 10px black;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

/* FOOTER */
footer {
   background-image: linear-gradient(white, gray);
   color: rgb(0, 0, 0);
   font-family: var(--font-romanus);
   font-size: 1.1em;
   font-weight: bold;
   text-align: center;
   text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.648);
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   margin: auto;
   padding: auto;
}

.footer>p>a {
   color: rgb(0, 0, 0);
   text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.648);
   font-size: 1em;
}

.footer>p>a:hover {
   text-decoration: underline;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.648);
}